header {
  display: flex;
  justify-content: center;
  font-size: 125%;
  color: white;
  position: relative;
}

div  {
  background: url('https://images.unsplash.com/photo-1453365607868-7deed8cc7d26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');
  background-position: cover;
  background-attachment: fixed;
}

.welcome, .about {
  height: 500px;
  text-align: center;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 35px;
  display: flex;
  align-items: center;
  background: url('https://images.unsplash.com/photo-1453365607868-7deed8cc7d26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
  background-position: cover;
  background-attachment: fixed;
}

table, td {
  border: 1px;  padding: 20px;
  text-align: right;
  vertical-align: top;
  color: white;
  background-color: #191918;
  border-collapse:collapse;
}

th {
  text-align: right;
  vertical-align: top;
  color: white;
  background-color: #878f99;
  padding: 15px;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}
body {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100vh;
  background-color: #191918;
}

h1, p {
  color: white;
}

.count-me {
  text-align: right;
  color: #a2b9bc;
}

#subtable{
padding-right: 0;
}
